[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
prompt = "==0.4.1"
prompt-toolkit = "==3.0.43"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.0"
